service: gamer-alert-bot

provider:
  name: aws
  runtime: nodejs14.x
  stage: v2
  region: us-west-2
    
functions:
  app:
    handler: build/serverless.handler
    events:
     - http: ANY /
     - http: 'ANY {proxy+}'
    environment:
      GAMER_ALERT_API_KEY: apikey
      BASE_URL: apibaseurl
      APPLICATION_ID: discordappid
      BOT_TOKEN: discordbottoken
      APPLICATION_PUBLIC_KEY: discordappkey
      RIOT_TOKEN: riotapikey
